* {
    margin: 0px;
    padding: 0px;
}

.wrapper {

    margin: 0px auto 0px auto;

    width: 70%;
    height: 900px;

    background: #abc;

}

.header-wrapper h1 {
    
    margin: 0;
    padding: 5px;
    background: #add;

}

ul li {
    
    display: inline-block;
    list-style-type: none;
    padding: 5px;

}

a {
    
    text-decoration: none;

}

.header-wrapper nav {
    
    background: #acd;

}

.main-wrapper {
    
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1em;
    margin: 5px;

}

.main-wrapper h3 {

    background: #cdd;
    padding: 3px;
}

.main-aside-wrapper {

    background: #abf;
    margin: 20px;

}

.main-article-wrapper {
    

    margin: 20px;

}

.main-aside-wrapper {
    

    text-align: center;


}

p {
    
    text-indent: 20px;
    margin: 10px;

}

legend {
    
    padding-right: 5px;
    margin: 5px;

}

form {

    text-align: left;
    margin-left: 25px;
    background: #eff;
    padding: 10px;

}

form input {
    
    margin: 10px;

}

#submit {
    
    padding: 2px;
    text-align: left;
    float: right;

}

form #submit {
    
    margin-right: 30px;

}



.message-board-wrapper form {
    
    text-align: center;
    display: inline-block;
    padding: 15px;

}


.message-board-wrapper h3 {
    
    margin-bottom: 0px;
    padding: 5px;
    margin-left: 25px;


}

.main-article-wrapper  h3 {
    margin-left: 25px;
    margin-bottom: 0px;
}

.footer-wrapper nav ul {
    
    bottom: 0;
    position: absolute;
    background: #eca;
    width: 70%;
    padding: 5px;
    margin-bottom: 0;

}

.footer-wrapper p {
    
    text-align: right;
    float: right;
    margin-top: 5px;
    opacity: 50%;

}




